.footer {
}
.footer__background {
}
.footer__up {
    display: flex;
    justify-content: space-between;
    background-color: #336;
    padding: 77px 94px 47px 51px;
}
.footer__left {
}
.footer__logo {
    display: flex;
    align-items: center;
    column-gap: 13px;
}
.footer__logo:not(:last-child) {
    margin-bottom: 96.5px;
}
.footer-logo__image {
}
.footer-logo__image img {
    width: 100px;
}
.footer-logo__name {
    color: #B9BBEB;
    text-align: center;
}
.footer-logo-name__up {
    font-family: "Amaranth";
    font-size: 22px;
    font-weight: 700;
    line-height: 107.523%; /* 34.407px */
}
.footer-logo-name__down {
    font-family: "Amaranth";
    font-size: 30px;
    font-weight: 700;
    line-height: 107.523%;
}
.footer__adress {
    color: #B9BBEB;
}
.footer-adress__up {
}
.footer-adress__up:not(:last-child) {
    margin-bottom: 26px;
}
.footer-adress-up__title {
    font-family: "Inter";
    font-size: 30px;
    font-weight: 500;
    line-height: 107.523%; /* 43.009px */
}
.footer-adress-up__subtitle {
    font-family: "Inter";
    font-size: 22px;
    font-weight: 500;
    line-height: 107.523%;
}
.footer-adress__down {
    font-family: "Inter";
    font-size: 22px;
    font-weight: 500;
    line-height: 107.523%; /* 34.407px */
}
.footer__right {
}
.footer-right__info {
    display: flex;
    justify-content: space-between;
    width: 400px;
}
.footer-right-info__left {
}
.footer-right-info__list {
}
.footer-right-info__items {
}
.footer-right-info__item {
    color: #B9BBEB;
    font-family: "Amaranth";
    font-size: 22px;
    font-weight: 700;
    line-height: 107.523%; /* 34.407px */
}
.footer-right-info__item:not(:last-child) {
    margin-bottom: 24px;
}
.footer-right-info__right {
}
.footer-right__social {
}
.footer__line {
    width: 1920px;
    height: 5px;
    background: linear-gradient(180deg, rgba(94, 94, 94, 0.24) 0%, #5E5E5E 100%);
}
.footer__down {
    text-align: center;
    padding: 20px 5px;
    background: #336;
    color: #B9BBEB;
    font-family: "Amaranth";
    font-size: 15px;
    font-weight: 700;
    line-height: 107.523%; /* 21.505px */
}