@font-face {
  font-family: 'inter';
  src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf) format('truetype');
}

.header {
  background: #336;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 70px;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.left__header {
  margin-left: 200px;
  margin-top: 20px;
}

.right__header {
  margin-right: 200px;
  margin-top: 10px;
}
/* logo */

.logo-bg {

}

.logo-gerb {
  height: 46px;
  width: 40px;
  margin-left: 35px;
}

.logo_items-text {}

.logo-text h1 {

}

.logo-items {
  display: flex;
  position: absolute;
  top: 20px;
}

.logo-text-top {
  color: #336;
  font-family: 'Inter';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 85.523%;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 3px;
}

.logo-text-bottom {
  color: #336;
  font-family: 'Inter';
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 85.523%;
  text-align: center;
}

/* logo */